@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 92%;
    --foreground: 210 100% 15%;
    --card: 0 0% 9%;
    --card-foreground: 210 100% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 100% 15%;
    --primary: 210 100% 50%;
    --primary-foreground: 0 0% 100%;
    --radius: 0.5rem;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
  }
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #4B5563 #E5E7EB;
}
.scrollbar-custom::-webkit-scrollbar {
  width: 4px;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #4B5563;
  border-radius: 4px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
